.App {
  text-align: center;
  color: white;

  margin:auto;
  padding: 15px;
  width: 80%;

  background-color: rgba(0, 0, 0, 0.6);

}
.video-wrap{
  margin:auto;
  width: 80%;
  
}

.video{
  margin:auto;
  width: 80%;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button:hover {background-color: lightgreen}
button:active {background-color: green} 

button {
  text-align: center;
     background-color:limegreen;
     outline:none;
     border-radius: 3px; 
     border: 3px solid green;
     border-radius: 15px;
  color: white;
  width: 50%;
  height: 60px;
  font-size: x-large;
  font-weight: 701;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}